/* html {
    box-sizing: border-box;
} 

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* :root {
    --primary-text-color: #212121;
    --basic-text-color: #757575;
    --accent-text-color: #2196F3;
    --white-color-text: #FFFFFF;
    --bgc-color-hero: #2F303A;
    --bgc-color-commands: #F5F4FA;
    --color-border-cards: #ECECEC;
    --color-footer-contact: rgba(255, 255, 255, 0.6);
    --color-icon-orig: #AFB1B8;
    --color-bgc-icon: rgba(255, 255, 255, 0.1);
    --bgc-text-top-portfolio: rgba(33, 150, 243, 0.9);
    --bgc-text-studio: rgba(47, 48, 58, 0.8);
    --color-black: #000000;
    --border-for-modal: rgba(0, 0, 0, 0.1);
    --input-color-border: rgba(33, 33, 33, 0.2);
    --color-input-form-footer: #2f303a;
    --color-placeholder: rgba(117, 117, 117, 0.5);

} */

/* body {
    background-color: var(--white-color-text);
    color: var(--basic-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}


.list {
list-style: none;
padding: 0px;
margin: 0px;
} */
/* container */
/* .container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    }


        .section {
         padding-top: 94px;
         padding-bottom: 94px;
        } */

/* Style for INDEX.HTML */
/*--------- Header-------- */
 
 /* Logo */

  /* header {
      border-bottom: 1px solid #ECECEC;
  }

         .header__main {
             display: flex;
             align-items: center;
         }

  .header__logo {
      color: var(--accent-text-color);

      font-family: Raleway, sans-serif;
      font-size: 26px;
      line-height: 1.2;
      text-decoration: none;


  }

  .header__logo:hover,
  .header__logo:focus {
      color: var(--accent-text-color);


  }

  .header__color {
      color: var(--primary-text-color);
  }

  /* -----HEADER-SITE */

  /* .header__link {
      display: block;

      color: var(--primary-text-color);
      text-decoration: none;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
      position: relative;

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header__site .header__link:hover,
  .header__site .header__link:focus {
      color: var(--accent-text-color);
  }

  .header__link.current {
      color: var(--accent-text-color);
  }

  .header__site {
      display: flex;
      padding-top: 32px;
      padding-bottom: 32px;
      margin-left: 93px;
  }

  .current::after {
      display: block;
      position: absolute;
      top: 45px;
      bottom: -1px;
      left: -1px;
      content: "";
      width: 100%;
      height: 4px;
      background-color: var(--accent-text-color);
      border-radius: 2px;
  }

 .header__site .header__item {
      margin-left: 50px;
  }


  /* Site-contact */

  /* .header-contact {
      display: flex;
      align-items: center;

      padding-top: 32px;
      padding-bottom: 32px;
      margin-left: auto;
  }

  .header-contact .item+.item {
      margin-left: 30px;
  }

  .header__links {
      color: var(--basic-text-color);

      font-weight: 500;
      text-decoration: none;
      line-height: 1.14;
      letter-spacing: 0.02em;
      display: flex;
      align-items: center;

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  .header-contact .header__links:hover,
  .header-contact .header__links:focus {
      color: var(--accent-text-color);
  }

  .header__icon {
      margin-right: 10px;
      fill: currentColor;
  } */ */ */

/* HERO  */
/* .hero {

    text-align: center;
    background-color: var(--bgc-color-hero);

    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/overlay.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

   .hero__title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;


    color: var(--white-color-text);
}


  .hero__button {
    min-width: 216px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    border: none;

    color: var(--white-color-text);
    background-color: var(--accent-text-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
}   */
 

/* ------Principles----- */
 
    /* .visually-hidden {
     
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}  

 .principles__title {
color: var(--primary-text-color);
margin: 0;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
} 
 .principles__text {
line-height: 1.7;
color: var(--basic-text-color);
margin: 0;
margin-top: 10px;

 }


 .principles__list {
    display: flex;
}
 .principles__item:not(:last-child) {
    margin-right: 30px;
}

.principles__box {
    width: 270px;
    height: 120px;
    background-color: var(--bgc-color-commands);
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}   */

/* ------WORK------  */
 /* .work {
    padding-top: 0;
    
}
 .work__title {
margin-top: 0;
margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;

color: var(--primary-text-color)
 }

 .work__list {
display: flex;
justify-content: space-between;
  }

.work__item:last-child {
margin-left: 30px;
}

.work__thumb {
position: relative;
}

 .work__image {
    display: block;
 }


 .work__text {
width: 100%;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--white-color-text);
background-color: var(--bgc-text-studio);

position: absolute;

bottom: 0;
left: 0;
padding: 27px; } */

 






/* ------TEAM----- */
/* .team {
    background-color: var(--bgc-color-commands); }

 .team__title {
     margin-top: 0;
     margin-bottom: 50px;
     font-weight: 700;
     font-size: 36px;
     line-height: 1.16;
     text-align: center;

     color: var(--primary-text-color)}

 .team__list {
     display: flex; }

 .team__item {
    background-color: var(--white-color-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px; }

.team__item {
    margin-left: 30px; }

 .team__item:first-child {
margin-left: 0; } 

.team__image {
    display: block; }

.photo__thumb {
    padding-top: 30px;
    padding-bottom: 30px; }

 .photo__title {
text-align: center;

margin-bottom: 10px;

font-weight: 500;
font-size: 16px;
line-height: 1.19;

color: var(--primary-text-color); }

 .photo__text {
text-align: center;
margin: 0;
font-size: 16px;
line-height: 1.18;
margin-bottom: 16px;

color: var(--basic-text-color);}

.team__soc-list {
display: flex;
justify-content: center;
gap: 10px; }

.team__soc-item {
width: 44px;
height: 44px; }

.team__soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); }

.team__soc-link:hover,
.team__soc-link:focus {
    background-color: var(--accent-text-color);

}

.team__soc-link:hover .team__soc-icon,
.team__soc-link:focus .team__soc-icon {
    fill: var(--white-color-text)
}




.team__soc-icon {
fill: var(--color-icon-orig);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */



/* --------CLIENTS------ */
 /* .clients__title {

text-align: center;
margin-bottom: 50px;

font-weight: 700;
font-size: 36px;
line-height: 1.66;
letter-spacing: 0.03em;

color: var(--primary-text-color);
}

.clients__list {
    display: flex;
    justify-content: center;
    gap: 30px;
   
}

.clients__item {
    width: 170px;
    height: 92px;
}

.clients__link {
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
    fill: var(--color-icon-orig);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  
   border-color: var(--accent-text-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
    fill: var(--accent-text-color); }  */










/* Footer */

/* .footer {
    background-color: var(--bgc-color-hero);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__logo {
    color: var(--accent-text-color);

    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

}

.footer__logo-colors {
    color: var(--white-color-text);
}

.footer__address {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--white-color-text)
}

.footer__list {
    margin-top: 20px;
}

.footer__list .footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__links {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--color-footer-contact);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .footer__links:hover,
 .footer__links:focus {
    color: var(--accent-text-color);
}

.footer__soc-wrap {
    margin-left: 70px;

}

.footer__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color-text);

    margin-bottom: 20px;

}

.footer__soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;


}

.footer__soc-item {
    width: 44px;
    height: 44px;


}

.footer__soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-bgc-icon);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer__soc-icon {

    fill: var(--white-color-text);
}

.footer__soc-link:hover,
.footer__soc-link:focus {
    background-color: var(--accent-text-color);
}

.footer__container {
    display: flex;
    align-items: baseline;
} 

/* Footer-container-form  */

 /* .footer__form-wrap {
    margin-left: 93px;
   
}
.form__title {
font-weight: 700;
 font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
    
color: var(--white-color-text);
}

.form__input[placeholder=E-mail] {
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: .03em;
color: rgba(255, 255, 255, .6);
padding-left: 16px;
}

.form__input  {
position: relative;
width: 358px;
height: 50px;
background: var(--color-input-form-footer);

border: 1px solid rgba(255, 255, 255, .3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}  

.button__form {
padding: 10px 28px;
height: 50px;
background: var(--accent-text-color);
box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
border-radius: 4px;
border: none;
cursor: pointer;
margin-left: 12px;

font-weight: 700;
font-size: 16px;
line-height: 1.88;
margin-left: 12px;
margin-right: auto;


display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: var(--white-color-text);}

.form {
    margin-top: 20px;
    display: flex;
}

.button__icon-form {
    margin-left: 10px;
} */ 


/* STYLES FOR PORTFOLIO.HTML */
 /* .button__site {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center; }
    

.button__item {
    margin-left: 8px;}

.button__link{
background-color: var(--bgc-color-commands);

color: var(--primary-text-color);

font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.7;
letter-spacing: 0.03em;
border: none;
padding: 6px 25px;
border-radius: 4px;

transition: border-radius, box-shadow, background-color,  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__link:hover,
.button__link:focus {
background-color: var(--accent-text-color);
color: var(--white-color-text);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;}    




 .portfolio { 
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__item:hover,
.portfolio__item:focus {

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item {

    transition: border, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio__item.portfolio__item:nth-child(3n) {
    margin-right: 0;
}

.portfolio__item.portfolio__item:nth-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio__link {
    text-decoration: none;
}

.portfolio__thumb {
    position: relative;
    overflow: hidden;}

.portfolio__image {
display: block;}

.portfolio__top-text {

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--white-color-text);

    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    background-color: var(--bgc-text-top-portfolio);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .portfolio__top-text {
    transform: translateY(0%);
}


 .portfolio__title {

color: var(--primary-text-color);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.portfolio__text {
color: var(--basic-text-color);

font-size: 16px;
line-height: 1.9;
margin-top: 4px;}

.portfolio__info {
padding: 20px 24px;
border-bottom: 1px solid #ECECEC;
border-left: 1px solid #ECECEC;
border-right: 1px solid #ECECEC;}  */














    /* MODAL */

    /* .backdrop {
       width: 100%;
       height: 100%;
       position: fixed;
       opacity: 1;

       background-color: var(--bgc-text-studio);
       top: 0;
       transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .modal {
       width: 528px;
       min-height: 581px;
       background-color: var(--white-color-text);
       border-radius: 4px;
       position: absolute;

       top: 50%;
       left: 50%;

       padding: 40px;

       box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
       border-radius: 4px;

       transform: translate(-50%, -50%) scaleX(1);
       transition-property: transform;
       transition-duration: 250ms;
       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   }

   .modal-button {
       position: absolute;
       right: 10px;
       top: 10px;
       width: 30px;
       height: 30px;
       color: var(--color-black);
       border: 1px solid var(--border-for-modal);
       border-radius: 50%;
       cursor: pointer;
       background-color: transparent;

       display: flex;
       align-items: center;
       justify-content: center;

       transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

   }

   .is-hidden {
       opacity: 0;
       visibility: hidden;
       pointer-events: none;
   }

   .modal__title {
       font-weight: 700;
       font-size: 20px;
       line-height: 1.15;
       text-align: center;
       letter-spacing: 0.03em;
       margin-bottom: 12px;

       color: var(--primary-text-color);
   }

   .modal-input {
       width: 100%;
       height: 40px;
       border: 1px solid var(--input-color-border);
       border-radius: 4px;
       margin-bottom: 28px;
   }

   .modal__input {
       display: block;
       outline: none;

       width: 100%;
       height: 40px;
       border: 1px solid var(--input-color-border);
       border-radius: 4px;
       margin-bottom: 10px;
       padding-left: 42px;
       cursor: pointer;

       transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   }

   .modal__text {
       display: inline-block;
       font-size: 12px;
       line-height: 1.16;
       letter-spacing: 0.01em;

       color: var(--basic-text-color);
       margin-bottom: 4px;
   }

   .modal__icon {
       position: absolute;
       left: 15px;
       fill: rgba(33, 33, 33, 1);
       top: 50%;
       transform: translateY(-50%);

       transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

   }

   .modal__coment {
       font-weight: 400;
       font-size: 12px;
       line-height: calc(14 / 12);
       letter-spacing: 0.01em;
       color: var(--basic-text-color);

       margin-top: 10px;
       margin-bottom: 4px;
   }

   .modal__label {
       position: relative;
   }

   .modal__input:focus {
       border-color: var(--accent-text-color);
   }

   .modal__input:focus+.modal__icon {
       fill: var(--accent-text-color);
   }

   .modal-button:hover,
   .modal-button:focus {
       fill: var(--accent-text-color);
   }

   .input__message {
       width: 100%;
       height: 120px;
       border: 1px solid var(--input-color-border);
       border-radius: 4px;
       font-size: 12px;
       padding: 12px 16px;
       color: var(--color-input-form-footer);
       resize: none;
       outline: none;
       margin-top: 4px;
       cursor: pointer;

       transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   }

   .input__message:focus {
       border-color: var(--accent-text-color);
   }

   .modal__btn {
       font-family: inherit;
       font-weight: 700;
       font-size: 16px;
       line-height: 1.9;
       letter-spacing: .06em;
       display: block;
       padding: 10px 50px;
       margin-top: 30px;
       margin-left: auto;
       margin-right: auto;
       background: var(--accent-text-color);
       color: var(--white-color-text);
       box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
       border-radius: 4px;
       border: none;
       cursor: pointer;

       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .modal__btn:hover,
   .modal__btn:focus {
       background: #188CE8;
   }

   .checkbox__label {
       font-weight: 400;
       font-size: 14px;
       line-height: 1.71;
       letter-spacing: 0.03em;

       display: flex;
       align-items: center;
       margin-top: 20px;


       color: var(--basic-text-color);
   }

   .checkbox {
       padding-left: 7px;
   }

   .checkbox__modal-link {
       color: var(--accent-text-color);
   }

   .modal-input-checkbox {
       margin-top: 20px;
       margin-bottom: 30px;
   }



   .checkbox__icon {
       width: 16px;
       height: 15px;
       border: 2px solid #000000;
       border-radius: 2px;
       margin-right: 8px;
       display: inline-flex;
       align-items: center;
       justify-content: center;
       fill: transparent;
       position: relative;
       margin-left: 13px;
   }

   .modal__icon-checkbox {
       position: absolute;
       opacity: 0;
   }

   .modal__check {
       position: absolute;
       width: 1px;
       height: 1px;
       margin: -1px;
       border: 0;
       padding: 0;

       white-space: nowrap;
       clip-path: inset(100%);
       clip: rect(0 0 0 0);
       overflow: hidden;
   }

   .modal__check:checked~.checkbox__icon,
   .modal__check:checked~.checkbox__icon .modal__icon-checkbox {
       border: var(--accent-text-color);
       background-color: var(--accent-text-color);
       fill: var(--white-color-text);
       opacity: 1;
   }  */       
   